<li class="flex border rounded-xl h-40">
  <!-- <p class="sr-no">{{ i + 1 }}</p> -->
  <img
    [src]="book.imgUrl"
    [alt]="book.title"
    width="100"
    class="m-auto rounded-sm"
  />
  <div class="m-auto">
    <p class="text-lg">
      {{ book.title | titlecase }} by {{ book.author | titlecase }}
    </p>
    <p class="my-4">{{ book.price | currency : "CAD" }}</p>
    <div>
      <button
        *ngIf="!isInCart"
        (click)="addToCart()"
        class="bg-yellow-400 rounded p-3">
        Add to cart
      </button>
      <button
        *ngIf="isInCart"
        (click)="removeFromCart()"
        class="bg-yellow-400 rounded p-3">
        Remove from cart
      </button>
      <button
        (click)="addToFavorites()"
        class="bg-yellow-400 rounded p-3 m-3">
        Add to Favorites
      </button>
    </div>
  </div>
</li>
